include AUTHORS
include CHANGELOG
include INSTALL
include LICENSE
include README.rst

include docs/Makefile
recursive-include docs *.rst
recursive-include docs *.py

recursive-include tests *
recursive-include makeapp/helpers *
recursive-include makeapp/app_templates *
recursive-include makeapp/license_templates *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
