{% extends parent_template %}

{% block recursive_include %}
{{ super() }}
recursive-include {{ module_name }}/locale *
recursive-include {{ module_name }}/tests *
recursive-include {{ module_name }}/migrations *.py
recursive-include {{ module_name }}/templates *.html
recursive-include {{ module_name }}/templatetags *.py
recursive-include {{ module_name }}/management *.py
{% endblock %}
