include AUTHORS
include CHANGELOG
include INSTALL
include LICENSE
include README.rst

include docs/Makefile
{% block recursive_include %}
recursive-include docs *.rst
recursive-include docs *.py
recursive-include tests *
{% endblock %}

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * empty
