# Don't forget to pin down these requirements to certain versions in your project.

Django>=3.0.3
envbox>=1.1.0
psycopg2>=2.8.4
uwsgi>=2.0.18
uwsgiconf[cli]>=0.20.1
#git+git://github.com/idlesign/uwsgiconf@master#egg=uwsgiconf